/* .cardContainer {
    text-align: center;
    position: relative;
    width: 30em;
    border-radius: 16px !important;
    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.33) !important;
}

.matchIconContainer {
    width: 80%;
    position: absolute;
    left: 45%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardImg {
    width: 100%;
}

.matchIcon {
    width: 30%;
}

.matchPercent {
    font-size: 12px;
    line-height: 14px;
    color: #F76F34;
}

.cardTitle {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 16px;
}

.cardText {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .matchPercent {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {


    .matchPercent {
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {

    .cardContainer {
        width: 8.1em;
    }

    .matchIconContainer {
        top: 40%;
    }

    .matchPercent {
        font-size: 12px;
    }
} */