.cardContainer {
    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.33);
    border-radius: 0 0 16px 16px !important;
    text-align: center;
    border: none;
}

.cardTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #404145;
}

.cardText {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #404145;
}

.matchIconContainer {
    position: relative;
}

.matchIcon {
    position: absolute;
    left: 80%;
    top: -100px;
    width: 15%;
}

.heartIcon {
    position: absolute;
    left: 84%;
    top: -91px;
    color: #FFF;
    width: 8%;

}

.matchPercent {
    position: absolute;
    left: 83%;
    top: -70px;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 16px;
    color: #F76F34;

}

@media only screen and (max-width: 1200px) {
    .matchIcon {
        position: absolute;
        left: 80%;
        top: -100px;
    }

    .heartIcon {
        position: absolute;
        left: 84%;
        top: -94px;
        color: #FFF;
        width: 8%;

    }

    .matchPercent {
        position: absolute;
        left: 84%;
        top: -80px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #F76F34;

    }

}



@media only screen and (max-width: 992px) {
    .matchIcon {
        position: absolute;
        left: 80%;
        top: -100px;
    }

    .heartIcon {
        position: absolute;
        left: 84%;
        top: -92px;
        color: #FFF;
        width: 8%;

    }

    .matchPercent {
        position: absolute;
        left: 84%;
        top: -70px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #F76F34;

    }

}

@media only screen and (max-width: 768px) {
    .matchIcon {
        position: absolute;
        left: 80%;
        top: -100px;
    }

    .heartIcon {
        position: absolute;
        left: 84%;
        top: -89px;
        color: #FFF;
        width: 8%;

    }

    .matchPercent {
        position: absolute;
        left: 84%;
        top: -65px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #F76F34;

    }

}



@media only screen and (max-width: 576px) {
    .matchIcon {
        position: absolute;
        left: 85%;
        top: -100px;
    }

    .heartIcon {
        position: absolute;
        left: 89%;
        top: -87px;
        color: #FFF;
        width: 8%;

    }

    .matchPercent {
        position: absolute;
        left: 89%;
        top: -45px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 16px;
        color: #F76F34;

    }

}