.peopleReviewDiv {
    background-color: #FC895E;

}

.peopleReview {

    display: flex;
    justify-content: space-between;
    padding: 30px;

}

.peopleOpinionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

}

.talkingAbout {
    width: 30%;
}

.talkingAbout h6 {
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #000000;
}

.talkingAbout p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.peopleOpinion {
    display: flex;
    margin-right: 10px;

}



.picture {
    width: 40px;
    height: 40px;
}

.personInfo {
    display: flex;
}

.nameStatement {
    padding: 5px 10px;
}

.personName {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.statement {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}



@media only screen and (max-width: 992px) {
    .talkingAbout {
        width: 40%;
    }

    .peopleOpinionContainer {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {

    .talkingAbout {
        width: 35%;
    }

    .peopleOpinionContainer {
        width: 65%;
    }

}

@media only screen and (max-width: 576px) {
    .peopleReview {
        display: block;

    }

    .talkingAbout {
        width: 70%;
        margin: 0 auto;
    }

    .peopleOpinionContainer {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}